<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appconfig" type="TestApp.AppConfigSection, TestApp"/>
  </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appconfig
  phoneFactorSDK_CertThumprint="370e35647a32201d088def7d84b3a3b51453ba02"
  numberOfTimesToRepeat="1"
 />


</configuration>